.map {
    position: relative;
    border: 5px solid black;
    background-image: url('https://wallpapercave.com/wp/XqRBXyO.jpg');
    
    /*background-image: url('ticket-to-ride-euorpe-map.jpg');*/
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.line {
    background-color: red;
    width: 100px;
}