.gameCard {
    margin-top: 0.1rem;
    transition: 0.8s;
}

.gameCard img {
    border: 5px solid white;
    width: calc(100% - 10px);
    border-radius: 5px;
}

.gameCard:hover {
    cursor: pointer;
    transform: translateX(-20px);
    transition: 0.5s;
}