.deck {
    position: relative;
    transition: 0.8s;
}

.deck .deckCount {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-weight: bold;
}

.deck p{
    cursor: pointer;
}

.deck:hover {
    transform: translateX(-20px);
    transition: 0.5s;
    cursor: pointer;
    color: red;
}


.deck .gameCard:hover{
    transform: none;
}